<nav class="navbar">
    <div class="logo-title-container">
      <img src="./logo.png" alt="Logo" class="logo" height="65px" width="65px">
      <h1><a href="#" class="title">PixelCraft</a></h1> 
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/services">services</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/register">Register</a></li>
    </ul>
    

