<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    
</head>
<body>
    
    <div class="dashboard">   
        <div class="main-content">
            
            <!-- Overview Container -->
            <div id="overview" class="container">
                <h2>Abdul Hadi's Portfolio</h2>
                <img src="hadi.jpeg" alt="" height="200">
                <p style="font-weight: 500;">Welcome to my portfolio</p><br>
                <a href="">click here to Preview</a>
            
            </div>

            <!-- Analytics Container -->
            <div id="analytics" class="container">
               <h2>Zeeshan's Portfolio</h2>
                <img src="zeeshan.jpeg" alt="" height="200">
                <p style="font-weight: 500;" >Welcome to my portfolio</p><br>
                <a href="">Click Here to Preview</a>
            </div>

            <div id="analytics" class="container">
                <h2>Misbah's Portfolio</h2>
                <img src="misbah.jpg" alt="" height="200">
                <p style="font-weight: 500;">Welcome to my portfolio</p><br>
                <a href="">Click Here to Preview</a>
                
            </div>
        
        </div>
        
    </div>
    

</body>
</html>


  